<html>
  <head>
	<title>Mail from Lecpool</title>
  </head>
  <body>
	<center>
	<table style="width: 555px; margin: 10px auto; border: 1px black solid;">
	  <tr><td style="background: #dfdfdf; text-align: center;"><h2 style="margin: 8px auto 8px auto;">Your Lost Password</h2></td></tr>
	  <tr>
		<td style="text-align: left; padding: 5px 10px;">
		  <p><strong>Lecpool</strong> received a request for a password replacement from your e-mail address.  As your password is stored in a
		  hashed format in our database, we cannot tell you what your password was.  We have generated a new, random password for you.  Please note
		  that it is case sensitive.</p>
		  <p>Your email is <em><%= @email %></em>. Your new password is <em><%= @password %></em>. Please login and change it to something more memorable.</p>
		  <p><a href="http://localhost:3000/signin">Click Here to Log In</a>
		</td>
	  </tr>
	</table>
	</center>
  </body>
</html>
