<h1>About Lecpool</h1>
<p>
<a href="http://lecpool-iitk.heroku.com/">Lecpool</a>
is an online platform for IIT-K students to share their lecture notes. You can also discuss your problems in our Forum !  </p>
