<h1>Contact Us</h1>
<p>
Developer :<strong> Pratik Agarwal</strong><br/>
Email: pratikag@iitk.ac.in<br/>
Phone No:+918948312034<br/>
<br/>
Co-Developer: <strong>Sanchit Gupta</strong><br/>
Email:sanchitg@iitk.ac.in<br/>
Phone No:+918953342622<br/>
<br/>
Co-Developer: <strong>Ujjwal Singh</strong><br/>
Email:ujjkumsi@iitk.ac.in<br/>
Phone No:+917607451930<br/>
</p>
