<h1>Developers</h1>
<p>
Founder and Developer :<strong> Pratik Agarwal</strong><br/>
Email: pratikag@iitk.ac.in<br/>
<br/>
Co-Founder and Developer: <strong>Sanchit Gupta</strong><br/>
Email:sanchitg@iitk.ac.in<br/>
<br/>
Co-Founder and Developer: <strong>Ujjwal Singh</strong><br/>
Email:ujjkumsi@iitk.ac.in<br/>
</p>
