<h1>Welcome to Lecpool !!!</h1>
<p>
A place where IIT-K students can share their Lecture Notes, Educational Videos , and discuss their problems on our Forum !<br/>
To know more about this application, please visit the 'About' page !</p><br/><br/>

<p>Important: Since this application is still under active development, we may sometimes have to reset our database. So, if u find an error like 'Invalid email/password' then you are requested to Sign Up again with the same id. Sorry, for the inconvenience. We will roll out our final version soon !! </p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
