<h1>Welcome to Lecpool !!!</h1>
<p>
A place where IIT-K students can share their Lecture Notes, Educational Videos , Chat via their Facebook/Twitter/Yahoo accounts,Request private help from another User, and discuss their problems publicly on our Forum ! Some new features have been added , so <b> Sign Up</b> and check it out !<br/>
To know more about this application, please visit the 'About' page !</p><br/><br/>

<p><b>Important:</b> In order to add some new features, we had to reset our database. So, you are requested to <b>Sign Up</b> again using your IIT-K Email-Id. Now ,the development work is complete and there will be no such resets. Sorry, for the inconvenience !   </p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
