<h1>Welcome to Lecpool !!!</h1>
<p>
A place where IIT-K students can share their Lecture Notes, Educational Videos , Chat via their Facebook/Twitter/Yahoo accounts, Request 'private help' from another User, and discuss their problems publicly on our Forum . By <b> Signing Up </b> on <b>Lecpool </b>, you also become a part of our <b>'Save Trees'</b> campaign to save <b>'the Earth'</b> from the ever-increasing threat of <b> Global Warming </b>. 
</p><br/><br/><br/>

<p><b>Important:</b> In order to add some new features, we had to reset our database. So, you are requested to <b>Sign Up</b> again using your IIT-K Email-Id. Now,the development work is complete and there will be no such resets. Sorry, for the inconvenience !   </p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
